body{
    background-color: #343a40;
    color: #fff;
}

.item-image{
    width: 6rem;
}

.item-name{
    width: 17%;
}

.table td {
   text-align: center;
}

.table th {
   text-align: center;
}

.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.log-area {
    height: 13vh;
    overflow-y: auto;
    margin-bottom: 0;
}

.log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.log-header > h2 {
    margin: 0;
}

.log-header > div > button {
    margin-left: 15px;
}

.special-item {
    background: linear-gradient(to right, #CC9934, #1E1D1B);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}
.sale-price{
    max-width: 100px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
