<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1"/>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.svg') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
           <i class="fa-solid fa-poo-storm"></i>BORANPAY
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="home" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="items" href="/items">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="configs" href="/configs">Configs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" id="login" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="signUp" href="/sign-up">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div aria-live="polite" aria-atomic="true" style="position:fixed; top:0; right:0; z-index: 99">
      <div class="toast-container">
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category =='error' %}
        <script>$(document).ready(function() {
         showToast('Error', '{{ message }}', 'danger')})
        </script>
    {% else %}
        <script>$(document).ready(function() {
         showToast('Success', '{{ message }}', 'success')})
        </script>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container-fluid">
        <div class="root">{% block content %} {% endblock %}</div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
