{% extends "base.html" %}
{% block title %}Buff Buy{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css">
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>


<table
  id="table"
  data-toggle="table" data-filter-control="true" data-show-export="true" data-sort-name="discount" data-sort-order="desc"
  class="table-hover table-dark table-borderless">
  <thead>
    <tr>
      <th data-field="name" data-filter-control="input" data-sortable="true" scope="col">Item Name</th>
      <th data-field="suggested_price" scope="col" data-sortable="true">Suggested Price</th>
      <th data-field="buff_listing" scope="col" data-sortable="true">Buff Listing</th>
      <th data-field="buff_buy_order" scope="col" data-sortable="true">Buff Buy Order</th>
      <th data-field="discount" data-sortable="true" scope="col">Discount</th>
      <th data-field="shadowpay_cheapest" scope="col">Shadow Cheapest</th>
      <th data-field="shadowpay_count" scope="col">Shadow Count</th>
      <th data-field="market_cheapest"  scope="col">Market Cheapest</th>
      <th data-field="market_count" scope="col">Market Count</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item, values in buff_data.items() %}
        <tr class="align-middle">
          <th scope="row">{{ item }}</th>
          <td class="align-middle"> {{values.suggested_price}} </td>
          <td class="align-middle">{{ values.buff_listing }}</td>
          <td class="align-middle">{{ values.buff_buy_order }}</td>
          <td class="align-middle">{{ values.discount }}</td>
          <td class="align-middle">{{ values.shadowpay_cheapest }}</td>
          <td class="align-middle">{{ values.shadowpay_count  }}</td>
          <td class="align-middle">{{ values.market_cheapest }}</td>
          <td class="align-middle">{{ values.market_count  }}</td>
          <td class="align-middle"><button type="button" class="btn btn-primary">
              <a class="go-button" href="https://buff.163.com/goods/{{ buff_item_ids[item] }}" target="_blank">Go</a>
          </button></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  $(function() {
  $('#table').bootstrapTable();
});
</script>
{% endblock %}