{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<div class="container logs-container">
  <div class="log-header">
      <h2>SHADOWPAY</h2>
      <div>
          <button class="btn btn-success" onclick="start('shadowpay')"
                  {% if user_bot_status.shadow_bot%}disabled{% endif %}>Start</button>

          <button class="btn btn-danger" onclick="stop('shadowpay')"
                  {% if not user_bot_status.shadow_bot%}disabled{% endif %}>Stop</button>

          <button class="btn btn-warning" onclick="restart('shadowpay')">Restart</button>
      </div>
  </div>
  <div class="card">
    <div class="card-body">
        <pre id="shadow" class="log-area">{% if not user_bot_status.shadow_bot%}Waiting user to start the bot...<br/>{% endif %}</pre>
    </div>
  </div>

  <br/>
  <br/>

  <div class="log-header">
      <h2>WAXPEER</h2>
      <div>
          <button class="btn btn-success" onclick="start('waxpeer')"
                  {% if user_bot_status.waxpeer_bot%}disabled={% endif %}>Start</button>

          <button class="btn btn-danger" onclick="stop('waxpeer')"
                  {% if not user_bot_status.waxpeer_bot%}disabled{% endif %}>Stop</button>

          <button class="btn btn-warning" onclick="restart('waxpeer')">Restart</button>
      </div>
  </div>
  <div class="card">
    <div class="card-body">
      <pre id="waxpeer" class="log-area">{% if not user_bot_status.waxpeer_bot%}Waiting user to start the bot...<br/>{% endif %}</pre>
    </div>
  </div>

  <br/>
  <br/>

  <div class="log-header">
      <h2>CSGO MARKET</h2>
      <div>
          <button class="btn btn-success" onclick="start('csgo_market')"
                  {% if user_bot_status.csgo_market_bot%}disabled={% endif %}>Start</button>

          <button class="btn btn-danger" onclick="stop('csgo_market')"
                  {% if not user_bot_status.csgo_market_bot%}disabled{% endif %}>Stop</button>

          <button class="btn btn-warning" onclick="restart('csgo_market')">Restart</button>
      </div>
  </div>
  <div class="card">
    <div class="card-body">
      <pre id="csgo-market" class="log-area">{% if not user_bot_status.csgo_market_bot%}Waiting user to start the bot...<br/>{% endif %}</pre>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
{% endblock %}
